//Wide Screens
@include mediaXl{
    
    .project{
        grid-template-columns: repeat(4,1fr);
    }
}
//Desktop and Laptops
@include mediaLg{

    main{
        .blank{
            margin-top: 8vh;
        }
        .lg-heading{
            font-size: 4.5rem;
        }
        .text-secondary{
            font-size: 4.5rem;
        }
    }
    
    .project{
        grid-template-columns: repeat(3,1fr);
    }

}
//Tablets and Small laptops
@include mediaMd{
    main#home{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            font-size: 4.5rem;
            margin-top: 8vh;
            margin-bottom: .5rem;
        }
        .text-secondary{
            font-size: 4.5rem;
            margin-bottom: .5rem;
        }
        .sm-heading{
            margin-bottom: 2rem;          
        }
    }
    .menu{
        display: flex;
        flex-direction: column;

        .portrait {
            width: 200px;
            height: 200px;
          }
    }
    div.menu-branding,
    ul.menu-nav{
        display: flex;
        flex-direction: column;
        width: 100%;      
    }
    div.menu-branding{
        transform: translate3d(100%, 0, 0);
    }
    ul.menu-nav{
        transform: translate3d(-100%, 0, 0);
    }

    .bio{        
        display: flex;
        flex-direction: column;
        padding: 40px auto;

        .bio-data{
            padding-left: 0;
            h1{
                text-align: center;
                padding: 10px;               
            }
        }
    }

    .main-job{
        display:flex;
        flex-direction:column;
        width:100%;
        margin-top:20px;
        justify-content: space-between;
        align-items: center;
    } 

    .project{
        grid-template-columns: repeat(2,1fr);
    }
}
//Smart Phones
@include mediaSm{
    main#home{
        .blank{
            margin-top: 8vh;
        }
       h1{
         &.lg-heading{
            font-size: 4rem;
            margin-top: 4vh;
            margin-bottom:.5rem;            
       } 
        }
        h3{
            &.text-secondary{
                font-size: 4rem;
                margin-bottom:.5rem;               
            }
        }       
    }     
    .project{
        grid-template-columns:1fr;
    }
    main#work{
        .lg-heading-work{
            text-align: center;
        } 
        .sm-heading{
            text-align: center;
        }   
    }
}
//Xtra Small Mobile
@include mediaXsm{
    main#home{
        .blank{
            margin-top: 5vh;
        }
       h1{
         &.lg-heading{
            font-size: 2.8rem;
            margin-top: 4vh;
            margin-bottom:.5rem;            
       } 
        }
        h3{
            &.text-secondary{
                font-size: 2.8rem;
                margin-bottom:.5rem;               
            }
        } 
        h2{
            &.sm-heading{
                font-size: 1.2rem;
                margin-bottom: 1rem;
                padding: .5rem .5rem;
                font-weight: normal;
            }
        }      
    }
    
    main#contact{
        min-height: 84%;
        .lg-heading-contact{
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }
        .sm-heading{
            font-size: 1.3rem;
        }
        .box{     
            margin-top: 0.6rem;
    
            div{          
                border: 2px solid #fff;
                padding: .4rem .4rem;
                margin-bottom: 1rem;
               
    
                .text-secondary,
                .text-inner{
                    font-size: 1rem;
                }
    
                &:hover{
                    padding: 1rem 1rem;
                }
            }
        }
            
    }
    
        
    .wish{
        font-size: 0.7rem;
        }

        main#work{
           
            .lg-heading-work{
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
            }
            .sm-heading{
                font-size: 1.3rem;
            }
        }

        main#about{
           
            .lg-heading-about{
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
            }
            .sm-heading{
                font-size: 1.1rem;
            }
            .bio-data p{
                font-size: 1rem;
            }
        }
}
        
        
    
    
    
