@import 'config';
@import 'menu';

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    @include background;
    background:$primary-color;
    color:set-text-color($primary-color);
    height: 100vh;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3{
    margin:0;
    font-weight:400;

    &.lg-heading{
        font-size: 6rem;
        display: inline;       
    }
    &.text-secondary{
        font-size: 6rem;
        display: inline;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 1rem 1rem;
        background: rgba(lighten($primary-color,3),1);
    }
}

a{
    color: #fff;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary{
    color: $secondary-color;
}
 main{
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);
   
    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;
    
            &:hover{
                color: $secondary-color;
                @include easeOut(); 
            }
        }
    }
    &#home{
        overflow: hidden;
        height: 100vh;

        .blank{
            margin-top: 20vh;
        }           
    }     
} 
 #about{
    .lg-heading-about{
        margin-top: 5vh;
        font-size: 4rem;
    }
} 
.bio{   
     width: 100%;
     display: flex;
     flex-direction: row;
     text-align:center;
     /* justify-content: center;  */
 }

.bio-image{
    flex: 1; 
    
    .my-pic{
        margin:auto;
        width:200px;
        height:200px;
        border-radius: 50%;
        border: 3px solid $secondary-color;
    }
}
.bio-data{
    flex: 2;
    padding-left: 25px;
    text-align: justify;
    font-size: 1.2rem;
    overflow: hidden;

    h1{
        color: $secondary-color;
    }
}
.main-job{
    display:flex;
    flex-direction: row;
    width:100%;
    margin-top:20px;
    justify-content: space-between;
    align-items: center; 

    .job{
        flex-basis:30%; 
        text-align:justify; 
        padding: 1.5rem;
        background: rgba(lighten($primary-color,3),1); 
        border-bottom: 5px solid $secondary-color; 

        h3{
            padding: 10px 0;
            font-style: italic;
        }  
    }

    .job:hover{
        background: darken(rgb(48, 122, 129), 15);
    }
   /* .job1{
       flex: 1;    
   } 
   .job2{
       flex: 1;
   }
   .job3{
       flex: 1;
   }  */    
}

#main-footer{ 
    text-align: center;
    padding: 1rem; 
    background: darken($primary-color, 10);
    height: 60px;
    width: 100%;
    color: set-text-color($primary-color);
}
main#work{
    .lg-heading-work{
        font-size: 4rem;
    }    
}
.project{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}
.item img{
    width: 100%;
    height: 200px;
    border: 3px solid #fff;
    
    &:hover{
        opacity: 0.5;
        border: 3px solid $secondary-color;
        @include easeOut;

    }
}
//Button style
.btn{
    display: block;
    border: 0;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;

    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}
.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}
.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

//Contact
main#contact{
    min-height: 84%;
    .lg-heading-contact{
        font-size: 4rem;
        margin-bottom: 2rem;
    }    
}

main#contact{
    .box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;      
        margin-top: 1rem;

        div{          
            border: 3px solid #fff;
            padding: .6rem .7rem;
            margin-bottom: 2rem;
            @include easeOut;

            .text-secondary,
            .text-inner{
                font-size: 1.5rem;
            }

            &:hover{
                padding: 1.5rem 1.5rem;
                background: $secondary-color;
                color:set-text-color($secondary-color);
                span{
                    color:set-text-color($secondary-color);  
                }
            }
        }
    }
    
}

.wish{
    height:60px;
    width: 100%;
    text-align:center;
    font-style: bold;
    background: linear-gradient(to right,#91053a,#bf34db,#e73a43,#2196f3,#ff00eb);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;    
}

@import 'mobile';